.home{
  width: 100vw;
  min-height: 10vh;
  overflow: hidden;
}
.landing-page{
    position: relative;
    width:100%;
    height: 100vh;
    overflow: hidden;
    
}


.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;

}

.fade-in {
  opacity: 1;
  z-index: 0;
}

.fade-out {
  opacity: 0;
  z-index: -2;
}
.content{
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.explore-button{
    padding: 10px 20px;
    margin-top: 1rem;
    margin-left: 1.5rem;
}
/* .bottom-imagess{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    left:-0.5rem
    
} */
.bottom-images div{
    background-color: transparent;
   
}
.bottom-images div img{
    width: 15rem;
    border-radius: 50%;
    transition: transform 0.3s ease;
    object-fit: contain;
}
.force-white {
  color: white !important;
}
